# Supabase
# Must include the full HTTPS URL, e.g. https://xyzcompany.supabase.co
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Ultravox
ULTRAVOX_API_KEY=your_ultravox_api_key

# Perplexity
PPLX_API_KEY=your_perplexity_api_key
